{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container my-5 mt-5 mx-5 px-5">
    <h2 class="title is-2 is-capitalized">About Us</h2>
    <p>Crowd is an inter-university social media platform built for the students of University of South Asia where students can interact with students of other sections, departments and batches to boost their knowledge. Build connections, get guidance and seek help from their alumni and seniors.
</p>
    <br>
    <h2 class="title is-2 is-capitalized">Contact Us</h2>
    <form>
        <h1><strong>Have some queries?</strong></h1>
        <br>
        <h2><strong>Email:</strong></h2>
        <p>usacrowd@gmail.com</p>
        <br>
         <h2><strong>Phone:</strong></h2>
        <p>042-35230722</p>
        <br>
      <h2><strong>Address:</strong></h2>
        <p>5-KM Raiwind Road, Lahore</p>
    </form>
</div>

{% endblock %}