{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="section" style=" padding: 2.5rem 2rem;">
    <div class="container">
<div class="columns is-mobile has-text-centered">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">

    <form method="post" action="" enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <h3 class="title is-1">New Post</h3>

            <div class="field">
              <label class="label is-medium">Choose your files</label>
                {{ form.content }}
          </div>

            <div class="field">
              <label class="label is-medium">Caption</label>
                {{ form.caption }}
            </div>

            <div class="field">
              <label class="label is-medium">Tags (add tags, separeted by commas)</label>
                {{ form.tags }}
          </div>

      <div class="field">
      <p class="control">
        <button type="submit" name="action" class="button is-success">
          Create
        </button>
      </p>
    </div>



{% endblock %}