{% extends 'base.html' %}
{% block title %} Ask Question {% endblock %}
{% block content %}
      <script type = "text/javascript">
            function fun() {


               alert ("Your Report has been submitted in our database. We'll try our best to resolve these issues. Click 'OK' to continue");
            }
      </script>
<style>
element.style {
    margin: 0px;
    height: 35px;
    width: 265px;
}
.container{
    width: fit-content;
}
form.textarea{
    cols:100px

}
</style>

<h3 class="subtitle is-3" > <p class="has-text-centered "> REPORT AN ISSUE </p>  </h3>
{% load static %}
<center>
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            {% for msg in messages %}
            <p class="text-success">{{msg}}</p>
            {% endfor %}
            <table class="table table-bordered">
            <form method="POST" action="" enctype="multipart/form-data">
               {% csrf_token %}

                    {{form.as_table}}
                    <tr>
                        <td colspan="2">
                            <button class="button is-success" type="submit" id="button-addon2" onclick = "fun()">Submit</button>
                        </td>
                    </tr>
            </form>
                </table>

        </div>
    </div>


</div>


{% endblock %}