
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crowd</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
<div class="container is-fullhd">
  <div class="notification is-primary">
    <strong>Crowd</strong>
  </div>
</div>
<style>
  .footer {
    background-color: #00d1b2;
    padding: 2rem 1.5rem 1.5rem;
    color:#fff
}
</style>

<body style="background-color:#f1f2f4;">
  <section class="section">
    <div class="container">

<div class="columns is-mobile has-text-centered">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">
<div class="row center-align">
    <form method="post" action="" role="form" >
    {% csrf_token %}
    {{ form.id }}
     <center>
    <h3 class="title is-4">Crowd</h3>
    <h3 class="title is-3">Forgot password</h3>
      <div class="row">
          <label class="title is-5">Email</label>
        <div class="input-field ">
          {{ form.email }}

        </div>
      </div>
        <br>
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
      <button class="button is-success" type="submit" name="action"><i class="material-icons left">send</i>Request Code</button>
            </center>
    </form>
  </div>
    </div>
    </div>
  </div>
</div>
    </div>
  </section>

</body>


<footer class="footer $footer-background-color  hsl(22, 12%, 98%)" >
  <div class="content has-text-centered">
    <p>
      <strong color="white">CROWD</strong> by Haris Akram And Mohsin Rehman. The source code is licensed MIT. The website content is licensed CC BY NC SA 4.0
      <p>Build For People Not For Profit</p>
    </p>
  </div>
</footer>