
{% load static %}
<div class="container is-fullhd">
  <div class="notification is-primary">
    <strong>Crowd</strong>
  </div>
</div>
<link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
  .footer {
    background-color: #00d1b2;
    padding: 3rem 1.5rem 6rem;
    color:#fff
}
.card {
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: fit-content;
    position: relative;
}
</style>

<body style="background-color:#f1f2f4;">
<div class="row">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<center>
		<div class="col s12 center-align">
		<i class="large material-icons green-text">check_circle</i>
	</div>
	<div class="col s12 center-align">
		<h4>Your password has been set. Please <a href="{% url 'login' %}">Sign in</a>< now. Thank you!</h4>
	</div>
    </center>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
</body>
<footer class="footer $footer-background-color  hsl(22, 12%, 98%)" >
  <div class="content has-text-centered">
    <p>
      <strong color="white">CROWD</strong> by Haris Akram And Mohsin Rehman. The source code is licensed MIT. The website content is licensed CC BY NC SA 4.0
      <p>Build For People Not For Profit</p>
    </p>
  </div>
</footer>