{% load static %}
<div class="container is-fullhd">
  <div class="notification is-primary">
    <strong>Crowd</strong>
  </div>
</div>
<link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
  .footer {
    background-color: #00d1b2;
    padding: 3rem 1.5rem 6rem;
    color:#fff
}
</style>

<body style="background-color:#f1f2f4;">
<center>
<div class="row">
	<br>
	<br>
	<br>
	<br>

	  <section class="section">
    <div class="container">

<div class="columns is-mobile has-text-centered">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">
			<div class="col s12 center-align">
		<i class="large material-icons green-text">check_circle</i>
	</div>
	<div class="col s12 center-align">
		<h4>We have emailed you instructions to reset your password</h4>
		<p>If an account exists with the email you entered. You will receive the token.</p>
		<p>If you don't receive an email. Check your spam folder or make sure you entered the correct email.</p>
	</div>


</div>
	</div>
  </div>
</div>
	</div>
	  </section>

<br>
<br>
</div>
	</center>
</body>
<footer class="footer $footer-background-color  hsl(22, 12%, 98%)" >
  <div class="content has-text-centered">
    <p>
      <strong color="white">CROWD</strong> by Haris Akram And Mohsin Rehman. The source code is licensed MIT. The website content is licensed CC BY NC SA 4.0
      <p>Build For People Not For Profit</p>
    </p>
  </div>
</footer>