
{% load static %}
<div class="container is-fullhd">
  <div class="notification is-primary">
    <strong>Crowd</strong>
  </div>
</div>
<link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
  .footer {
    background-color: #00d1b2;
    padding: 3rem 1.5rem 6rem;
    color:#fff
}
.card {
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: fit-content;
    position: relative;
}
</style>

<body style="background-color:#f1f2f4;">
<center>
<div class="container">
    <div class="card mt-5">
		<table class="table table-bordered">
			<tr>
		<p class="title">
      Enter new password
    </p>
    <p class="subtitle">
      Please enter your new password twice so we can verify you typed it in correctly
    </p>
			</tr>
		</table>
        <div class="card-body">
            <table class="table table-bordered">
            <form method="POST">
               {% csrf_token %}
                    {{form.as_table}}

                    <tr>
                        <td colspan="2">
                            <button class="button is-success" type="submit" id="button-addon2">Submit</button>
                        </td>
                    </tr>

            </form>
                </table>

        </div>
    </div>


</div>
</center>
<br>
</body>

<footer class="footer $footer-background-color  hsl(22, 12%, 98%)" >
  <div class="content has-text-centered">
    <p>
      <strong color="white">CROWD</strong> by Haris Akram And Mohsin Rehman. The source code is licensed MIT. The website content is licensed CC BY NC SA 4.0
      <p>Build For People Not For Profit</p>
    </p>
  </div>
</footer>